@font-face {
    font-family: 'cursed_timer_ulilregular';
    src: url('cursedtimerulil-aznm-webfont.woff2') format('woff2'),
         url('cursedtimerulil-aznm-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
    margin: 0;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    border-radius: 5px;
    align-items: center;
    padding-bottom: 20px;
}
h2 {
    font-family: 'cursed_timer_ulilregular';
    background: #0a0001;
    font-size: 80px;
    font-weight: lighter;
    color: #F94F6D;
    width: 120px;
    margin: 20px;
    padding: 5px 10px 0px 10px;
    position: relative;
    top: -35px;   
}
button {
    font-family: 'cursed_timer_ulilregular';
    background: none;
    color: #9AABD8;
    border: 1px #9AABD8 solid;   
    position: relative;
    top: -35px;
    border-radius: 5px;
    width: 40px;
    height: 30px;
}
h3 {
    color: #EEEEEE;
    font-size: 40px;
}